.container {
    max-width: 960px;
  }
  
  .site-header {
    background-color: #A6D0DD;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #FDF4F5;
    transition: color .15s ease-in-out;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .pink-bg{
    background-color: #FF6969;
  }

  .salmon-bg{
    background-color: #FFD3B0;
  }

  .cream-bg{
    background-color: #FFF9DE
  }

  .pink-bg-2{
    background-color: #F7C8E0;
  }

  .about1-bg{
    background-image: url('IMAGES\\about1.jpg');
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
  }
  .about2-bg{
    background-image: url('IMAGES\\about2.jpg');
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
  }
  .about3-bg{
    background-image: url('IMAGES\\about3.png');
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
  }

  .donut-bg{
    background-image: url('IMAGES\\title-bg.jpg');
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
  }

  .donut-bg-glazed{
    background-image: url('IMAGES\\glazed donut.jpg');
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
  }

  .donut-bg-more{
    background-image: url('IMAGES\more donuts.jpg');
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
  }

  .coffee-bg{
    background-image: url('IMAGES\coffee.jpg');
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
  }

  .shirt-bg{
    background-image: url('IMAGES\\shirts.png');
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
  }

  .pacifico{
    font-family: 'Pacifico', cursive;
  }

  .flex-equal > * {
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }